node_modules

/server/index.js
./server/index.js.map
/public/build
preferences.arc
sam.json
sam.yaml
.env
.env.production

/cypress/screenshots
/cypress/videos

/app/styles/tailwind.css

Dockerfile
Dockerfile.prod

# Random
embed.json